{{- $chezmoi := .chezmoi }}{{- $users := dict -}}{{- $hosts := dict -}}


{{- /* === Customization ================================================ */ -}}

{{- $lschmelzeisen := dict -}}
  {{- $_ := set $lschmelzeisen "name" "Lukas Schmelzeisen" -}}
  {{- $_ := set $lschmelzeisen "mail" "l.schmelzeisen@gmx.de" -}}
{{- $_ = set $users "lschmelzeisen" $lschmelzeisen -}}

{{- $razorback := dict -}}
  {{- $_ := set $razorback "docker" true -}}
  {{- $_ := set $razorback "docker_zfs" true -}}
  {{- $_ := set $razorback "desktop" true -}}
  {{- $_ := set $razorback "barrier_host" "192.168.178.20" -}}
  {{- $_ := set $razorback "barrier_fingerprint" "DE:82:A3:44:00:D2:5D:AE:D3:A1:58:E9:22:A7:0A:CB:CB:7D:03:92" -}}
  {{- $_ := set $razorback "msteams" true -}}
{{- $_ = set $hosts "razorback" $razorback -}}


{{- /* === User ========================================================= */ -}}

{{- $userKeys := list "name" "mail" -}}
{{- $user := dict -}}
{{- range $key := $userKeys -}}
  {{- with $u := get $users $chezmoi.username -}}
    {{- $_ := hasKey $u $key | ternary (get $u $key) nil | set $user $key -}}
  {{- else -}}
    {{- $_ := set $user $key nil -}}
  {{- end -}}
{{- end -}}

{{- if $user.name | kindIs "invalid" -}}
  {{- $_ := promptString "Full name" | set $user "name" -}}
{{- end -}}

{{- if $user.mail | kindIs "invalid" -}}
  {{- $_ := promptString "E-mail address" | set $user "mail" -}}
{{- end -}}


{{- /* === Host ========================================================= */ -}}

{{- $hostKeys := list "docker" "docker_zfs" "desktop" "barrier_host" "barrier_fingerprint" "msteams" }}
{{- $host := dict -}}
{{- range $key := $hostKeys -}}
  {{- with $h := get $hosts $chezmoi.hostname -}}
    {{- $_ := hasKey $h $key | ternary (get $h $key) nil | set $host $key -}}
  {{- else -}}
    {{- $_ := set $host $key nil -}}
  {{- end -}}
{{- end -}}

{{- if $host.docker | kindIs "invalid" -}}
  {{- $_ := promptBool "Install docker (y/n)" | set $host "docker" -}}
{{- end -}}
{{- if $host.docker  -}}
  {{- if $host.docker_zfs | kindIs "invalid" -}}
    {{- $_ := promptBool "Will '/var/lib/docker' be mounted via ZFS (y/n)" | set $host "docker_zfs" -}}
  {{- end -}}
{{- else -}}
  {{- $_ := set $host "docker_zfs" false -}}
{{- end -}}

{{- if $host.desktop | kindIs "invalid" -}}
  {{- $_ := promptBool "Desktop machine (y/n)" | set $host "desktop" -}}
{{- end -}}

{{- if $host.desktop -}}
  {{- if $host.barrier_host | kindIs "invalid" -}}
    {{- $_ := promptString "Barrier host (leave blank to not install barrier)" | set $host "barrier_host" -}}
  {{- end -}}
  {{- if $host.barrier_fingerprint | kindIs "invalid" -}}
    {{- if $host.barrier_host -}}
      {{- $_ := promptString "Barrier host SSL fingerprint" | set $host "barrier_fingerprint" -}}
    {{- else -}}
      {{- $_ := set $host "barrier_fingerprint" "" -}}
    {{- end -}}
  {{- end -}}

  {{- if $host.msteams | kindIs "invalid" -}}
    {{- $_ := promptString "Install Microsoft Teams (y/n)" | set $host "msteams" -}}
  {{- end -}}

{{- else -}}
  {{- if $host.barrier_host | kindIs "invalid" -}}
    {{- $_ := set $host "barrier_host" "" -}}
  {{- end -}}
  {{- if $host.barrier_fingerprint | kindIs "invalid" -}}
    {{- $_ := set $host "barrier_fingerprint" "" -}}
  {{- end -}}

  {{- if $host.msteams | kindIs "invalid" -}}
    {{- $_ := set $host "msteams" false -}}
  {{- end -}}
{{- end -}}


[data]
  [data.user]
  {{- range $key, $value := $user }}
    {{ $key }} = {{ printf "%#v" $value }}
  {{- end }}

  [data.host]
  {{- range $key, $value := $host }}
    {{ $key }} = {{ printf "%#v" $value }}
  {{- end }}
