if [ -f /etc/bashrc ] ; then
    . /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]] ; then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# See: https://wiki.archlinux.org/index.php/XDG_Base_Directory
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"

# -- Miscellaneous -------------------------------------------------------------

export HISTFILE="$XDG_DATA_HOME/bash/history"
export LESSHISTFILE="$XDG_DATA_HOME/less/history"

export IPYTHONDIR="$XDG_CONFIG_HOME/jupyter"
export JUPYTER_CONFIG_DIR="$XDG_CONFIG_HOME/jupyter"

export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME/npm/npmrc"

alias cip="curl --silent https://ipinfo.io | jq"

# -- Editors -------------------------------------------------------------------

export VISUAL="nvim"
export EDITOR="nvim"

alias vi="nvim"
alias vim="nvim"

# -- Chezmoi -------------------------------------------------------------------

alias ccd="chezmoi cd"
alias can="chezmoi apply --verbose --dry-run"
alias ca="chezmoi apply"

# -- GPG -----------------------------------------------------------------------

export GNUPGHOME="$XDG_DATA_HOME/gnupg"
export MYKEYID="0x3EF8D67DB54A4043"

gpgconf --create-socketdir
{{- if not .host.gpg_agent_forward_target }}
export GPG_TTY="$(tty)"
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
gpgconf --launch gpg-agent
{{- end }}

function gpg-switch-card() {
    gpg --list-secret-keys --with-keygrip $MYKEYID \
        | sed -nE "s#^\s*Keygrip = ([0-9A-Z]+)\s*\$#$GNUPGHOME/private-keys-v1.d/\1.key#p" \
        | xargs rm -f
    gpgconf --kill gpg-agent
    gpg --card-status
}

function gpg-list-sockets() {
    find "$XDG_RUNTIME_DIR/gnupg"
}

function gpg-reset-sockets() {
    pkill gpg-agent
    rm -r "$XDG_RUNTIME_DIR/gnupg"
}

function gpg-enc {
    gpg --encrypt --armor --recipient $MYKEYID
}

function gpg-dec {
    gpg --decrypt
}
