#!/usr/bin/env sh

echo "Installing awesome-gnome..."

install_file() {
    if sudo cmp --silent "{{ .chezmoi.sourceDir }}/awesome-gnome/$1" "$2" ; then
        echo "  File $1 already exists at location $2"
    else
        echo "  Installing file $1 to location $2"
        sudo install -D --preserve-timestamps --mode 0644 "{{ .chezmoi.sourceDir }}/awesome-gnome/$1" "$2"
    fi
}

install_file awesome-gnome.desktop /usr/share/applications/awesome-gnome.desktop
install_file awesome-gnome.gschema.override /usr/share/glib-2.0/schemas/01_awesome-gnome.gschema.override
install_file awesome-gnome.service /usr/lib/systemd/user/awesome-gnome.service
install_file awesome-gnome.session /usr/share/gnome-session/sessions/awesome-gnome.session
install_file awesome-gnome.session.conf /usr/lib/systemd/user/gnome-session@awesome-gnome.target.d/session.conf
install_file awesome-gnome.target /usr/lib/systemd/user/awesome-gnome.target
install_file awesome-gnome.xsession.desktop /usr/share/xsessions/awesome-gnome.desktop

sudo glib-compile-schemas /usr/share/glib-2.0/schemas/
