#!/usr/bin/env sh

{{ if eq .chezmoi.osRelease.id "fedora" -}}

echo "Setting up RPM Fusion repositories:"
sudo dnf install fedora-workstation-repositories
sudo dnf install \
    https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm \
    https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
sudo dnf install rpmfusion-free-release-tainted rpmfusion-nonfree-release-tainted
sudo dnf groupupdate core multimedia sound-and-video
sudo dnf update

echo "Installing general dependencies for Fedora:"
sudo dnf install \
    flatpak \
    neovim

{{ if .host.docker -}}
echo "Installing Docker:"
{{- /* See: https://fedoramagazine.org/docker-and-fedora-32/ */ -}}
sudo dnf install \
    docker-compose \
    moby-engine
{{- end }}

{{ if .host.podman -}}
echo "Installing Podman:"
sudo dnf install \
    podman \
    podman-compose
{{- end }}

{{ if .host.nvidia -}}
echo "Installing NVIDIA drivers:"
# This uses the packages from the RPM Fusion repositories added above. For
# installing NVIDIA drivers, the negativo17 NVIDIA repo [1] seem to also offer a
# fairly well maintained option. However, I rather opt for RPM Fusion, as its
# maintained by multiple people that, additionally, are also established Fedora
# package maintainers.
# [1] https://negativo17.org/nvidia-driver/
sudo dnf install akmod-nvidia xorg-x11-drv-nvidia-cuda vulkan vdpauinfo libva-vdpau-driver libva-utils

echo "Installing NVIDIA container toolkit:"
sudo sh -c "curl --location https://nvidia.github.io/nvidia-docker/centos8/nvidia-docker.repo > /etc/yum.repos.d/nvidia-docker.repo"
sudo dnf install nvidia-container-toolkit
{{- end }}

{{ if .host.desktop -}}
echo "Installing desktop dependencies for Fedora:"
sudo dnf install \
    awesome \
    evolution \
    evolution-ews \
    gnome-flashback \
    gnome-themes-extra \
    gnome-tweaks \
    gtk-murrine-engine
{{- end }}

{{ if .host.barrier_host -}}
sudo dnf install \
    barrier
{{- end }}

{{- else -}}

echo "Automatic dependency installation not configured for operating system '{{ .chezmoi.osRelease.id }}'."
echo "Install the following dependencies manually:"
echo "- Flatpak: https://flatpak.org/"
echo "- Neovim: https://neovim.io/"

{{ if .host.docker -}}
echo "- Docker: https://www.docker.com/"
echo "- Docker Compose: https://docs.docker.com/compose/"
{{- end }}

{{ if .host.podman -}}
echo "- Podman: https://podman.io/"
echo "- Podman Compose: https://github.com/containers/podman-compose"
{{- end }}

{{ if .host.nvidia -}}
echo "- NVIDIA drivers: https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html"
echo "- NVIDIA container toolkit: https://nvidia.github.io/nvidia-docker/"
{{- end }}

{{ if .host.desktop -}}
echo "Desktop:"
echo "- awesome: https://awesomewm.org/"
echo "- Evolution: https://wiki.gnome.org/Apps/Evolution"
echo "- Evolution EWS: https://wiki.gnome.org/Apps/Evolution/EWS"
echo "- GNOME Flashback: https://wiki.gnome.org/Projects/GnomeFlashback"
echo "- GNOME Tweaks: https://wiki.gnome.org/Apps/Tweaks"
echo "- GNOME Extra Themes: https://gitlab.gnome.org/GNOME/gnome-themes-extra"
echo "- GTK Murrine Engine"
{{- end }}

{{ if .host.barrier_host -}}
echo "- Barrier: https://github.com/debauchee/barrier"
{{- end }}

{{- end }}
