#!/usr/bin/env sh

# Switch to cgroup v1 (Fedora uses cgroups v2 by default) which is not yet supported by Docker.
sudo grubby --update-kernel=ALL --args="systemd.unified_cgroup_hierarchy=0"

# Autostart Docker service.
sudo systemctl enable docker

# Allow normal user to run Docker commands.
sudo usermod --append --groups docker $USER

# Set storage overlay if using Docker.
{{ if .host.docker_zfs -}}
{{- if eq .chezmoi.osRelease.id "fedora" -}}
sudo sed -i 's/storage-driver=overlay2/storage-driver=zfs/g' /etc/sysconfig/docker
{{- else -}}
echo "Automatic docker via ZFS settings not configured for operating system '{{ .chezmoi.osRelease.id }}'."
{{- end -}}
{{- end }}
