{{- define "remote_forward" -}}
  {{- if .remote.gpg_agent_forward_target -}}
    RemoteForward {{ .remote.gpg_socket_dir }}/S.gpg-agent {{ .host.gpg_socket_dir }}/
    {{- if .host.gpg_agent_forward_target -}}
      S.gpg-agent
    {{- else -}}
      S.gpg-agent.extra
    {{- end -}}
  {{- else -}}
    # Not target of GPG agent forwarding.
  {{- end -}}
{{- end -}}

Host *
    HashKnownHosts yes
    KexAlgorithms curve25519-sha256@libssh.org
    HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa
    Ciphers chacha20-poly1305@openssh.com
    MACs hmac-sha2-512-etm@openssh.com
    # As security best practice, never specify ForwardAgent/RemoteForward here,
    # because these directives should only be used with trusted hosts.

Host razorback
    HostName 192.168.178.55
    User lschmelzeisen
    ForwardAgent yes
    {{ template "remote_forward" (dict "host" .host "remote" .hosts.razorback) }}

Host razorback.fedora33
    HostName 192.168.122.214
    User lschmelzeisen
    ForwardAgent yes
    {{ template "remote_forward" (dict "host" .host "remote" .hosts.razorback_fedora33) }}

Host razorback.fedora35
    HostName 192.168.122.57
    User lschmelzeisen
    ForwardAgent yes
    {{ template "remote_forward" (dict "host" .host "remote" .hosts.razorback_fedora33) }}

Host firehawk
    HostName 192.168.178.89
    User lschmelzeisen
    ForwardAgent yes

Host nauvoo
    HostName 192.168.178.62
    User lschmelzeisen
    ForwardAgent yes
    {{ template "remote_forward" (dict "host" .host "remote" .hosts.nauvoo) }}

Host ac.arboghast
    HostName arboghast.informatik.uni-stuttgart.de
    User schmells
    ForwardAgent yes
    {{ template "remote_forward" (dict "host" .host "remote" .hosts.arboghast) }}

Host ac.arboghast.*
    HostName arboghast.informatik.uni-stuttgart.de
    User root

Host ac.arboghast.schmells-main
    Port 51022

Host ac.arboghast.schmells-kg
    Port 51122

Host ac.arboghast.schmells-kumarss
    Port 51222

Host ac.arboghast.xiongbo-main
    Port 52022

Host ac.arboghast.xiongbo-matznerln
    Port 52122

Host ac.arboghast.xiongbo-guptaat
    Port 52222

Host ac.arboghast.baierax-main
    Port 53022

Host ac.arboghast.iurshiaa-main
    Port 54022

Host ac.arboghast.dimaga-main
    Port 55022

Host ac.arboghast.dimaga-schmidpp
    Port 55122

Host ac.arboghast.dimaga-wangyi
    Port 55222

Host ac.arboghast.wangzo-main
    Port 56022

Host ac.arboghast.boutalra-main
    Port 57022

Host ac.arboghast.boutalra-mittalah
    Port 57122

Host ac.arboghast.boutalra-burgbarn
    Port 57222

Host ac.arboghast.panjn-main
    Port 58022

Host ac.arboghast.panjn-linkbt
    Port 58122

Host ac.arboghast.schneitm-main
    Port 59022

Host ac.arboghast.aspanddy-zhangcg
    Port 60122

Host ac.arboghast.lopezro-main
    Port 61022

Host ac.arboghast.lopezro-backup
    Port 61122

Host ac.arboghast.gregucco-main
    Port 62022

Host ac.arboghast.frankdl-main
    Port 63022

Host ac.arboghast.latifdi-dllab
    Port 64122

Host ac.arboghast.mengesrl-knechtjn
    Port 65122

Host github.com
    User git
