[Desktop Entry]
Type=Application
Name=awesome-gnome
Comment=awesome window manager in GNOME session.
NoDisplay=true
OnlyShowIn=awesome-gnome;
# For some documentation of the X-GNOME settings, see: https://gist.github.com/najamelan/b44e943145b03e018229
X-GNOME-WMName=awesome-gnome
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
X-GNOME-HiddenUnderSystemd=true
