[Desktop Entry]
Type=Application
Name=awesome-gnome
Comment=awesome window manager in a GNOME session.
Exec=/usr/bin/gnome-session --systemd --session awesome-gnome
DesktopNames=GNOME
X-GDM-SessionRegisters=true
