[user]
name = "{{ .user.name }}"
email = "{{ .user.mail }}"
signingKey = "{{ .user.gpg_key_fingerprint }}"

[init]
defaultBranch = "main"

[commit]
gpgSign = true

[tag]
gpgSign = true

[push]
gpgSign = "if-asked"

[pull]
ff = "only"
